<%- include('./includes/start') %> 
  </head>
  <body>
    <%- include('./includes/header') %> 
    <main>
      <h2>page title: <%= title %> </h2>
      by 
      <%= version.author %> 
      
      <p>
          <%= version.content %> 
      </p>
      
    </main>
    
<%- include('./includes/end') %> 