<%- include('./includes/start') %> 
  </head>
  <body>
    <%- include('./includes/header') %> 
    <main>
      <h2><%=template.pageTitle%>: <%= title %> </h2>
      <%= template.by %> 
      <%= version.author %> 
      
      <p>
          <%= version.content %> 
      </p>
      
    </main>
    
<%- include('./includes/end') %> 